* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: calc(64px * 8);
  width: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: darkblue;
}

.white {
  background-color: greenyellow;
}

.selected {
  background-color: chocolate;
}

.avialible {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1eb825;
}
